{
  "initial_timestamp": "${INITIAL_TIMESTAMP}",
  "initial_key": "GLS6MRyAjQq8ud7hVNYcfnVPJqcVpscN5So8BhtHuGYqET5GDW5CV",
  "initial_configuration": {
    "max_block_net_usage": 1048576,
    "target_block_net_usage_pct": 1000,
    "max_transaction_net_usage": 524288,
    "base_per_transaction_net_usage": 12,
    "net_usage_leeway": 500,
    "context_free_discount_net_usage_num": 20,
    "context_free_discount_net_usage_den": 100,
    "max_block_cpu_usage": 1400000,
    "target_block_cpu_usage_pct": 1000,
    "max_transaction_cpu_usage": 800000,
    "min_transaction_cpu_usage": 100,
    "max_transaction_lifetime": 3600,

# NOTE: The expiration interval for deferred transactions was increased (for 3 hours) 
# due to the fact that current value (10 minutes) is not enough to close a large 
# number of posts in testnet (about 60,000). In the real system there will not be 
# such a number of posts and this value should be revised.
    "deferred_trx_expiration_window": 10800,
    "max_transaction_delay": 3888000,
    "max_inline_action_size": 4096,
    "max_inline_action_depth": 4,
    "max_authority_depth": 6
  },
  "initial_chain_id": "0000000000000000000000000000000000000000000000000000000000000000",
  "genesis_data_hash": "${GENESIS_DATA_HASH}"
}
