{
    "state_file": "golos.dat",
    "genesis_json": "genesis.json",
    "params":{
        "stake":{
            "max_proxies":[30, 10, 3, 1],
            "frame_length":1800,
            "payout_step_length":43200,
            "payout_steps_num":12,
            "min_own_staked_for_election":0
        },
        "posting_rules": {
            "mainfunc":{
                "code":{
                    "varssize":1,
                    "operators":[0],
                    "values":[{"kind":1,"idx":0}],
                    "nums":[],
                    "consts":[]
                },
                "maxarg":"9223372036854771712"
            },
            "curationfunc":{
                "code":{
                    "varssize":1,
                    "operators":[0,0,0,0,26,4,0,1,4],
                    "values":[
                        {"kind":0,"idx":0},
                        {"kind":0,"idx":1},
                        {"kind":1,"idx":0},
                        {"kind":0,"idx":2},
                        {"kind":0,"idx":3}],
                    "nums":["9223372036854771712","16384000000000000",409,4096],
                    "consts":[]
                },
                "maxarg":"9223372036854771712"
            },
            "timepenalty":{
                "code":{
                    "varssize":1,
                    "operators":[0,0,4],
                    "values":[
                        {"kind":1,"idx":0},
                        {"kind":0,"idx":0}],
                    "nums":[7372800],
                    "consts":[]
                },
                "maxarg":7372800
            },
            "maxtokenprop":5000
        },
# set required hardfork to 21.1.0 for disable producers start in testnet
        "require_hardfork":{
            "version":352387072,
            "time":"2019-06-28T12:00:00.000"
        }
    },
    "accounts": [
#        {"name": "cyber",         "owner_key": "INITIAL",   "active_key": "INITIAL",
#            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.bios/cyber.bios.abi", "hash":""},
#            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.bios/cyber.bios.wasm", "hash":""}
#        },
#        {"name": "cyber.domain",  "owner_key": "INITIAL",   "active_key": "INITIAL",
#            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.domain/cyber.domain.abi", "hash":""},
#            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.domain/cyber.domain.wasm", "hash":""}
#        },
        {"name": "cyber.token",   "owner_key": "INITIAL",   "active_key": "INITIAL",
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.token/cyber.token.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.token/cyber.token.wasm", "hash":""}
        },
#        {"name": "cyber.msig",   "owner_key": "INITIAL",   "active_key": "INITIAL",
#            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.msig/cyber.msig.abi", "hash":""},
#            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.msig/cyber.msig.wasm", "hash":""}
#        },
#        {"name": "cyber.govern",   "owner_key": "INITIAL",   "active_key": "INITIAL",
#            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.govern/cyber.govern.abi", "hash":""},
#            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.govern/cyber.govern.wasm", "hash":""}
#        },
#        {"name": "cyber.stake",   "owner_key": "INITIAL",   "active_key": "INITIAL",
#            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.stake/cyber.stake.abi", "hash":""},
#            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.stake/cyber.stake.wasm", "hash":""}
#        },
        {"name": "cyber.worker",  "owner_key": "INITIAL",   "active_key": "INITIAL"},

        {"name": "gls.issuer",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL", "accounts": ["gls.ctrl@cyber.code", "gls.emit@cyber.code"]},
                {"name": "issue", "key": "GLS5a2eDuRETEg7uy8eHbiCqGZM3wnh2pLjiXrFduLWBKVZKCkB62"},
                {"name": "witn.smajor", "key": "INITIAL"},
                {"name": "witn.major", "key": "INITIAL"},
                {"name": "witn.minor", "key": "INITIAL"}
            ]
        },
        {"name": "gls.ctrl",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL", "accounts": ["@cyber.code"]}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.ctrl/golos.ctrl.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.ctrl/golos.ctrl.wasm", "hash":""}
        },
        {"name": "gls.emit",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL", "accounts": ["@cyber.code"]}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.emit/golos.emit.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.emit/golos.emit.wasm", "hash":""}
        },
        {"name": "gls.vesting",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL", "accounts": ["@cyber.code"]}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.vesting/golos.vesting.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.vesting/golos.vesting.wasm", "hash":""}
        },
        {"name": "gls.publish",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL", "accounts": ["@cyber.code"]}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.publication/golos.publication.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.publication/golos.publication.wasm", "hash":""}
        },
        {"name": "gls.social",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL", "accounts": ["gls.publish@cyber.code"]}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.social/golos.social.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.social/golos.social.wasm", "hash":""}
        },
        {"name": "gls.charge",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL"}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.charge/golos.charge.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.charge/golos.charge.wasm", "hash":""}
        },
        {"name": "gls.referral",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL"}
            ],
            "abi": {"path": "$GOLOS_CONTRACTS/golos.referral/golos.referral.abi", "hash":""},
            "code": {"path": "$GOLOS_CONTRACTS/golos.referral/golos.referral.wasm", "hash":""}
        },
        {"name": "gls.worker",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL"}
            ]
        }
    ],
    "auth_links": [
        {
            "permission": "cyber@createuser",
            "links": ["cyber:newaccount", "cyber.token:open", "gls.vesting:open"]
        },{
            "permission": "gls.issuer@issue",
            "links": ["cyber.token:issue", "cyber.token:transfer"]
        }
    ],
    "golos": {
        "domain": "golos",
        "names": {
            "issuer": "gls.issuer",
            "control": "gls.ctrl",
            "vesting": "gls.vesting",
            "posting": "gls.publish",
            "social": "gls.social",
            "charge": "gls.charge"
        },
        "recovery": {
            "wait_days": 30
        },
        "max_supply": 1000000000,
        "sys_max_supply": 1000000000
    }
}
